/* Safari 7.1+ */

_::-webkit-full-page-media,
_:future,
 :root {
    .zone--highlight {
        max-height: 525px;
        overflow: hidden;
    }
    .zone--special {
        max-height: 177px;
        overflow: hidden;
    }
    .story--horizontal,
    .zone--special .story {
        .story__header {
            overflow: visible;
        }
    }
}


@supports (-ms-ime-align: auto) {
    /* Microsoft EdgeV13&14 CSS styles go here */
    .zone--highlight {
        max-height: 525px;
        overflow: hidden;
    }
    .zone--special {
        max-height: 177px;
        overflow: hidden;
    }
    .story--horizontal,
    .zone--special .story {
        .story__header {
            overflow: visible;
        }
    }
}

@supports (-ms-accelerator: true) {
    /* Microsoft EdgeV13 CSS styles go here */
    .zone--highlight {
        max-height: 525px;
        overflow: hidden;
    }
    .zone--special {
        max-height: 177px;
        overflow: hidden;
    }
    .story--horizontal,
    .zone--special .story {
        .story__header {
            overflow: visible;
        }
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /* IE10 & IE11 CSS styles go here */
    .zone--highlight {
        max-height: 525px;
        overflow: hidden;
    }
    .zone--special {
        max-height: 177px;
        overflow: hidden;
    }
    .story--horizontal,
    .zone--special .story {
        .story__header {
            overflow: visible;
        }
    }
}