/* button border  */

.btn {
    font-size: 14px; // -webkit-border-radius: 0px;
    // -moz-border-radius: 0px;
    // -ms-border-radius: 0px;
    // -o-border-radius: 0px;
    // border-radius: 0px;
    @include transition(background-color, 0.2, ease-out);
    .fa {
        margin-right: 5px;
    }
    &:active:focus,
    &:focus:active {
        outline: none;
    }
    @include haf {
        outline: none;
    }
}

.btn-border {
    border: 1px solid #333;
    background-color: transparent;
    color: #333;
    @include transition(all, 0.2, linear);
    &:hover {
        background-color: $brand-primary;
        color: white;
        border-color: $brand-primary;
    }
}

.form-control {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    &:focus {
        border-color: darken($brand-primary, 15%);
    }
}

// load more
.load-more {
    font-size: 14px;
    line-height: 1.4em;
    color: #999;
    text-align: center;
    [class^="icon"] {
        margin-right: 4px;
        width: 14px;
        height: 14px;
        fill: #999;
        vertical-align: text-bottom;
    }
}