// Variable overrides come first (without !default). Bootstrap default variables
// come second because they use !default (they won't get set if set already) and
// some of them depend on our overrides.

/* ====================================
   = BOOTSTARP 3.X + REPLACE VARIABLE =
   ==================================== */

@import "base/b-variables";
@import "!framework/bootstrap";

/* font */

// @import "../fonts/font-awesome-4.7.0/scss/font-awesome.scss";

/* utilities */

@import "mixin/mixins";

/* base file */

@import "base/b-scaffolding";
@import "base/fonts";

/* layout */

@import "layout/layout";
@import "layout/header";
@import "layout/footer";

/* component */

@import "component/sprites";
@import "component/region";
@import "component/story";
@import "component/breadcrumbs";
@import "component/pagination";
// @import "component/searchbox";
@import "component/comment";

/* pages */

@import "page/article";
@import "page/live";

/* share for all  */

@import "share/share";
@import "share/crossbrowser";

/* helper class  */

@import "helper/helper";
