/* ====================================
   Footer's style
   ==================================== */

#site-footer {
    margin-top: 32px;
    @include clearfix;
}

.site-footer {
    background: #fff;
    border-top: 1px solid #ddd;
    font-size: 12px;
    line-height: 20px;
    color: #555;
    .site-wrap {
        padding: 24px 0;
        background-color: white;
        display: table;
    }
    .logo {
        vertical-align: top;
        img {
            width: auto;
            height: 40px;
            display: table-cell;
        }
    }
    .info {
        vertical-align: top;
        padding-left: 12px;
        display: table-cell;
    }
    .contact {

        text-align: right;
        display: table-cell;
        vertical-align: bottom;
        a {
            color: #555;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    h4 {
        font-size: 17px;
    }
    b,
    i {
        font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
}