/* article style */

// normal detail
.article {
    &-wrap {
        position: relative;
        border-radius: 5px;
        padding: 16px;
        background: white;
        border: 1px solid #ddd;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }
    &__header {
        margin-bottom: 16px;
    }
    &__title {
        font-size: 24px;
        line-height: 1.3em;
        font-weight: bold;
        &--sub {
            font-size: 18px;
            line-height: 1.3em;
            font-weight: bold;
            color: #555;
            margin-bottom: 8px;
        }
    }
    &__meta {
        color: #999;
        margin-top: 8px;
        font-size: 14px;
        line-height: 24px;
        @include clearfix;
        time {
            display: block;
        }
        .social-listing {
            margin-top: 8px;
            *[class^="button-"] {
                +[class^="button-"] {
                    margin-left: 12px;
                }
            }
        }
    }
    &__source {
        color: $brand-primary;
        margin-right: 8px;
        &:hover {
            color: $brand-success;
        }
    }
    &__summary {
        color: #333;
        font-size: 18px;
        line-height: 1.4em;
        margin-top: 8px;
        font-weight: bold;
    }
    &__avatar {
        font-size: 16px;
        margin-top: 8px;
        text-align: center;
        font-style: italic;
        img {
            margin-bottom: 4px;
            max-width: 100%;
        }
    }
    &__body {
        @include clearfix;
        position: relative;
    }
    /* article content */
    &__content {
        //main article content
        @include clearfix;
        font-size: 18px;
        line-height: 1.5em;
        color: #333;
        p,
        div,
        h3,
        h4,
        h5 {
            margin-bottom: 12px;
            margin-top: 0;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        a {
            font-weight: bold;
            color: $brand-primary;
        }
        /* -------------- */
        .full-img {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            img {
                margin-bottom: 5px;
                max-width: 100%;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .fig {
                font-size: 16px;
                color: #555;
                font-style: italic;
                text-align: center;
                display: block;
            }
        }
        /* -------------- */
        .aside-img {
            margin-bottom: 15px;
            p.thumbnail {
                position: relative;
                width: 100%;
                margin-bottom: 0px;
                img {
                    max-width: 100%;
                }
            }
            .fig {
                font-size: 13px;
                color: #222;
                font-style: italic;
            }
            i,
            em {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        .aside-img.pull-right {
            margin-left: 30px;
            margin-right: 0px;
        }
        .aside-img.pull-left {
            margin-right: 30px;
        }
        /* -------------- */
        .article-photo.inlinephoto {
            display: block;
            margin-bottom: 10px;
            img {
                margin-bottom: 5px;
                max-width: 100%;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            span,
            .fig {
                font-size: 12px;
                color: #222;
                font-style: italic;
                display: block;
            }
        }
        /* -------------- */
        .author {
            font-weight: bold;
            text-align: right;
        }
        /* -------------- */
        .inner-article {
            padding-bottom: 0;
            margin-bottom: 20px;
            background: #f0f0f0;
            figure {
                margin-top: 0 !important;
                margin-right: 0 !important;
                img {
                    border-top-right-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                    width: 70px;
                    height: 70px;
                }
            }
            header {
                padding: 10px 10px 5px 10px;
                height: 70px;
                overflow: hidden;
                .title {
                    font-size: 12px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 0;
                    max-height: 4.2em;
                    overflow: hidden;
                    a {
                        &:hover {
                            color: $brand-primary;
                        }
                    }
                }
            }
            &:hover {
                background: #eee;
            }
        }
        /* video player */
        .video-player {}
        /* table with */
        table {
            max-width: 100% !important;
        }
        /* -------------- */
        .box-relate,
        .notification {
            padding: 10px;
            background: lighten($brand-primary, 30%);
            border: 1px dashed #333;
            border-radius: 3px;
            &.pull-left,
            &.floatleft {
                float: left;
                width: 50%;
                margin-right: 10px;
            }
            &.pull-right,
            &.floatright {
                float: right;
                width: 50%;
                margin-left: 10px;
            }
        }
    }
    /* article related */
    &__related {
        @include clearfix();
        background-color: #f0f0f0;
        .story__header {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .story__title {
            a {
                color: #333;
                &:hover {
                    color: $brand-primary;
                }
            }
        }
    }
    /* article author */
    &__author {
        text-align: right;
        font-weight: bold;
    }
    /* article tag */
    &__tag {
        .tag-label {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px !important;
            padding-top: 2px;
            font-weight: bold;
            display: inline-block;
        }
        .tag-item {
            color: #777;
            display: inline-block;
            font-weight: normal;
            &:hover {
                color: $brand-primary;
            }
            &+.tag-item {
                margin-left: 8px;
            }
        }
    }
    &__extend {
        @include clearfix();
        padding: 16px;
        background-color: #f0f0f0;
        margin-top: 12px;
        .info {
            float: left;
            font-size: 14px;
            margin-bottom: 0;
            p {
                margin-bottom: 0;
                b {
                    color: $brand-primary;
                }
                a {
                    color: $brand-success;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .social {
            float: right;
            margin-bottom: 0;
            >div {
                text-align: right;
                margin-bottom: 0px;
            }
        }
    }
    &__react {
        margin-top: 12px;
    }
    .main-col.full & {
        &-wrap {
            padding-left: 160px;
            padding-right: 160px;
        }
        &__header {
            text-align: center;
        }
        &__content {
            .full-img {
                margin-left: -64px;
                margin-right: -64px;
                width: initial;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        &__footer {
            .box-comment {
                width: 666px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

//floating social
.social-floating {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -554px;
    [class^="button-"] {
        display: block;
        &+[class^="button-"] {
            margin-top: 8px;
        }
    }
}

// detail  photo
.article-photo {
    .slide-show {
        position: relative;
    } // slider with caption
    .slider-caption {
        li {
            position: relative;
            .caption {
                margin-bottom: 0 !important;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 10px;
                background-color: rgba(0, 0, 0, .5);
                color: white;
                @include respond-to-xs() {
                    position: static;
                    background-color: #f0f0f0;
                    color: #111;
                }
            }
        }
    }
    .slider-control {
        .fa {
            width: 30px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: rgba(0, 0, 0, .4);
            min-width: 33px;
            color: white;
            top: calc(50% - 25px);
            a {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            &.fa-angle-left {
                position: absolute;
                left: 0;
            }
            &.fa-angle-right {
                position: absolute;
                right: 0;
            }
            &:focus,
            &:active {
                margin-top: 1px;
            }
        }
    }
    .article-comments,
    .sidebar {
        margin-top: 20px;
    }
}

// related area
.area {
    &-related {
        background-color: white;
        margin: 32px 0 16px;
        padding: 24px 0 8px;
        .story {
            margin-bottom: 16px;
        }
    }
    &__title {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 12px;
    }
}