/* ====================================
   Customize breadcrumbs
   ==================================== */

.breadcrumb {
    padding: 0;
    margin-bottom: 16px;
    list-style: none;
    background-color: transparent;
    border-radius: $border-radius-base;
    font-size: 20px;
    line-height: 1.1em;
    font-weight: bold;
    >li {
        text-transform: normal;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        +li:before {
            // [converter] Workaround for https://github.com/sass/libsass/issues/1115
            $nbsp: "\00a0";
            content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: $breadcrumb-color;
            font-weight: normal;
        }
    }
    >.active {
        color: $brand-primary;
    }
}

.breadcrumbs {
    font-family: $font-family-special;
    margin-bottom: 16px;
    .cate {
        font-size: 20px;
        margin-bottom: 8px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        padding-left: 16px;
        a {
            color: $brand-success;
            &:hover {
                color: $brand-primary;
            }
        }
        &::before {
            display: block;
            content: '';
            width: 6px;
            position: absolute;
            left: 0;
            top: 2px;
            bottom: 2px;
            background-color: $brand-success;
        }
    }
    .subcate {
        a {
            &+a {
                &::before {
                    content: '/';
                    display: inline;
                    padding: 0 16px;
                    color: #111;
                }
            }
        }
    }
}