/* ====================================
   Customize breadcrumbs
   ==================================== */

.breadcrumb {
    padding: 0;
    margin-bottom: 16px;
    list-style: none;
    background-color: transparent;
    border-radius: $border-radius-base;
    font-size: 20px;
    line-height: 1.1em;
    font-weight: bold;
    >li {
        text-transform: normal;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        +li:before {
            // [converter] Workaround for https://github.com/sass/libsass/issues/1115
            $nbsp: "\00a0";
            content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: $breadcrumb-color;
            font-weight: normal;
        }
    }
    >.active {
        color: $brand-primary;
    }
}

.breadcrumbs {
    font-family: $font-family-special;
    margin-bottom: 12px;
    padding-left: 12px;
    position: relative;
    &::before {
        display: block;
        content: '';
        width: 4px;
        position: absolute;
        left: 0;
        top: 0px;
        bottom: 2px;
        background-color: $brand-success;
    }
    .cate {
        font-size: 18px;
        display: inline-block;
        font-weight: bold;
        a {
            color: black;
            &:hover {
                color: $brand-primary;
            }
        }
        &+.cate {
            font-weight: normal;
            &::before {
                content: '/';
                display: inline;
                padding: 0 8px;
                color: #111;
            }
            &:last-child {
                a {
                    color: #777;
                    &:hover {
                        color: $brand-primary;
                    }
                }
            }
        }
    }
    .subcate {
        font-size: 18px;
        display: inline-block;
    }
}