/* style for sprites  */

*[class^="sprite-"] {
    display: inline-block;
    background-image: url(../img/sprites.svg);
    vertical-align: baseline;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        opacity: 0.8;
    }
}

.sprite {
    &-facebook {
        width: 14px;
        height: 14px;
        background-position: -200px 0px;
        transition: none;
        &:hover {
            background-position-y: -50px;
            opacity: 1;
        }
    }
    &-twitter {
        width: 14px;
        height: 14px;
        background-position: -250px 0px;
        transition: none;
        &:hover {
            background-position-y: -50px;
            opacity: 1;
        }
    }
    &-zalo {
        width: 14px;
        height: 14px;
        background-position: -300px 0px;
        transition: none;
        &:hover {
            background-position-y: -50px;
            opacity: 1;
        }
    }
    &-youtube {
        width: 14px;
        height: 14px;
        background-position: -350px 0px;
        transition: none;
        &:hover {
            background-position-y: -50px;
            opacity: 1;
        }
    }
    &-instagram {
        width: 14px;
        height: 14px;
        background-position: -400px 0px;
        transition: none;
        &:hover {
            background-position-y: -50px;
            opacity: 1;
        }
    }
    &-googleplus {
        width: 14px;
        height: 14px;
        background-position: -450px 0px;
        transition: none;
        &:hover {
            background-position-y: -50px;
            opacity: 1;
        }
    }
    &-playcircle {
        width: 12px;
        height: 12px;
        background-position: 0px 0px;
    }
    &-rss {
        width: 16px;
        height: 16px;
        background-position: -50px 0px;
    }
    &-mobile {
        width: 10px;
        height: 16px;
        background-position: -100px 0px;
    }
    &-play {
        width: 22px;
        height: 24px;
        background-position: 0px -100px;
    }
    &-home {
        width: 18px;
        height: 14px;
        background-position: -150px -100px;
    }
    &-search {
        width: 12px;
        height: 12px;
        background-position: -150px 0px;
    }
    &-arrowup {
        width: 35px;
        height: 35px;
        background-position: -50px -50px;
    }
    &-navbar {
        width: 13px;
        height: 11px;
        background-position: -100px -50px;
    }
    &-thumbup {
        width: 12px;
        height: 12px;
        background-position: -150px -50px;
    }
    &-gotop {
        width: 35px;
        height: 35px;
        background-position: -50px -50px;
    }
    &-video {
        width: 14px;
        height: 14px;
        background-image: url(../img/sprites.svg);
        background-position: -250px -100px;
        margin-left: 4px;
        .editor_choice & {
            background-position-y: -150px;
        }
    }
    &-picture {
        width: 16px;
        height: 14px;
        background-image: url(../img/sprites.svg);
        background-position: -200px -100px;
        margin-left: 4px;
        .editor_choice & {
            background-position-y: -150px;
        }
    }
    &-chart {
        width: 16px;
        height: 14px;
        background-image: url(../img/sprites.svg);
        background-position: -350px -100px;
        margin-left: 4px;
        .editor_choice & {
            background-position-y: -150px;
        }
    }
    &-audio {
        width: 16px;
        height: 14px;
        background-image: url(../img/sprites.svg);
        background-position: -300px -100px;
        margin-left: 4px;
        .editor_choice & {
            background-position-y: -150px;
        }
    }
    &-live {
        background: none;
        &::after {
            content: 'Live';
            display: inline-block;
            font-size: 0.6em;
            line-height: 1.2em;
            border-radius: 2px;
            padding: 2px 6px;
            vertical-align: middle;
            color: white;
            font-weight: normal;
            background-color: $brand-primary;
            margin-left: 4px;
        }
    }
    &-updating {
        background: none;
        &::after {
            content: 'Updating';
            display: inline-block;
            font-size: 0.6em;
            line-height: 1.2em;
            border-radius: 2px;
            padding: 2px 6px;
            vertical-align: middle;
            color: white;
            font-weight: normal;
            background-color: $brand-primary;
            margin-left: 4px;
        }
    }
    &-infographic {
        background: none;
        &::after {
            content: 'Infographic';
            display: inline-block;
            font-size: 0.6em;
            line-height: 1.2em;
            border-radius: 2px;
            padding: 2px 6px;
            vertical-align: middle;
            color: white;
            font-weight: normal;
            background-color: $brand-primary;
            margin-left: 4px;
        }
    }
    &-exclusive {
        background: none;
        &::after {
            content: 'Exclusive';
            display: inline-block;
            font-size: 0.6em;
            line-height: 1.2em;
            border-radius: 2px;
            padding: 2px 6px;
            vertical-align: middle;
            color: white;
            font-weight: normal;
            background-color: $brand-primary;
            margin-left: 4px;
        }
    }
    &-analysis {
        background: none;
        &::after {
            content: 'Analysis';
            display: inline-block;
            font-size: 0.6em;
            line-height: 1.2em;
            border-radius: 2px;
            padding: 2px 6px;
            vertical-align: middle;
            color: white;
            font-weight: normal;
            background-color: $brand-primary;
            margin-left: 4px;
        }
    }
    &-breakingnes {
        background: none;
        &::after {
            content: 'Breaking News';
            display: inline-block;
            font-size: 0.6em;
            line-height: 1.2em;
            border-radius: 2px;
            padding: 2px 6px;
            vertical-align: middle;
            color: white;
            font-weight: normal;
            background-color: $brand-primary;
            margin-left: 4px;
        }
    }
}

*[class^="button-"] {
    display: inline-block;
    background-image: url(../img/sprites.svg);
    vertical-align: baseline;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        opacity: 0.8;
    }
}

.button {
    &-facebook {
        width: 120px;
        height: 30px;
        background-position: 0 -200px;
    }
    &-twitter {
        width: 120px;
        height: 30px;
        background-position: -150px -200px;
    }
    &-zalo {
        width: 120px;
        height: 30px;
        background-position: -300px -200px;
    }
    &-email {
        width: 120px;
        height: 30px;
        background-position: 0px -250px;
    }
    &-copy {
        width: 120px;
        height: 30px;
        background-position: -150px -250px;
    }
    &-facebook-sm {
        width: 30px;
        height: 30px;
        background-position: 0 -300px;
    }
    &-twitter-sm {
        width: 30px;
        height: 30px;
        background-position: -50px -300px;
    }
    &-zalo-sm {
        width: 30px;
        height: 30px;
        background-position: -100px -300px;
    }
    &-email-sm {
        width: 30px;
        height: 30px;
        background-position: -150px -300px;
    }
    &-copy-sm {
        width: 30px;
        height: 30px;
        background-position: -200px -300px;
    }
    &-textsize-sm {
        width: 30px;
        height: 30px;
        background-position: -250px -300px;
    }
}